<Level>
    <LevelItem class="@B.TextCentered">
        <a class="link is-info">Home</a>
    </LevelItem>
    <LevelItem class="@B.TextCentered">
        <a class="link is-info">Menu</a>
    </LevelItem>
    <LevelItem class="@B.TextCentered">
        <img src="/images/bulmarazor-logo.png" alt="" style="height: 30px;">
    </LevelItem>
    <LevelItem class="@B.TextCentered">
        <a class="link is-info">Reservations</a>
    </LevelItem>
    <LevelItem class="@B.TextCentered">
        <a class="link is-info">Contact</a>
    </LevelItem>
</Level>