@namespace BulmaRazor.Components

@inherits BulmaComponentBase
@typeparam TValue


<input id="@id" @attributes="Attributes" class="@classes" name="@name" type="radio" value="@Value" checked="@_checked" @onchange="ChangeHandle"/>
<label for="@id">
    @ChildContent
</label>
