@namespace BulmaRazor.Components

@inherits BulmaComponentBase
@typeparam TValue


<input id="@id" @attributes="Attributes" class="@classes" name="@name" type="radio" value="@Value" checked="@_checked" @onchange="ChangeHandle"/>
<label for="@id">
    @ChildContent
</label>

@code {

    string id = "radio_" + Guid.NewGuid().ToString("N");

    string classes => CssBuilder.Default("is-checkradio")
        .AddClassFromAttributes(Attributes)
        .AddClass(B.Invisible)
        .AddClass("is-rtl", IsRTL)
        .AddClass(Color.Value, Color.Value)
        .AddClass("is-small", IsSmall)
        .AddClass("is-normal", IsNormal)
        .AddClass("is-medium", IsMedium)
        .AddClass("is-large", IsLarge)
        .Build();

    [Parameter]
    public bool IsRTL { get; set; }

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public bool IsSmall { get; set; }

    [Parameter]
    public bool IsNormal { get; set; }

    [Parameter]
    public bool IsMedium { get; set; }

    [Parameter]
    public bool IsLarge { get; set; }

    [Parameter]
    public bool Checked { get; set; }

    private bool _checked;

    private async Task ChangeHandle(ChangeEventArgs e)
    {
        await Parent.UnCheckAll(Value);
        _checked = true;
    }

    public void SetChecked(bool ck)
    {
        _checked = ck;
    }

    [Parameter]
    public TValue Value { get; set; }


    [CascadingParameter]
    public Radios<TValue> Parent { get; set; }

    public int Index { get; set; }


    private string name;


    protected override void OnInitialized()
    {
        // if (Parent == null) throw new ArgumentException("Radio must in Radios Component");

        base.OnInitialized();
        Parent?.AddItem(this);
        name = Parent?.Name;

        if (Parent != null && Parent.Value != null && Parent.Value.Equals(Value))
        {
            _checked = true;
        }
        else
        {
            _checked = Checked;
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}