@page "/"
@inject JSWindow win


<Hero Size="Size.Medium" class="is-hidden">
    <HeroBody>
        <Container>
            <Title Size="Size.Size2">
                BulmaRazor 是基于 Bulma 框架、免费开源的 Razor 组件库。
            </Title>
        </Container>
        <br />
        <br />
        <br />
        <Buttons Align="Align.Centered">
            <Button Color="Color.Dark" Size="Size.Large">开始使用</Button>
        </Buttons>
    </HeroBody>
</Hero>

<p>i的值: @_ck</p>

<p>str的值: @str</p>
<p>list的值: @String.Join(',', list) </p>


<hr />
<Select @bind-Values="list" Multiple Rows="3">
    @foreach (var item in values)
    {
        <Option Value="@item">@item</Option>
    }
</Select>
<hr />

<Select @bind-Value="str">
    @foreach (var item in values)
    {
        <Option Value="@item">@item</Option>
    }
</Select>

<Button @onclick="f2">多</Button>

<Button @onclick="f1">单</Button>

<File OnChange="Up" HasName Color="Color.Primary" IsBoxed Align="Align.Centered" DefaultName="没有文件"></File>
<File HasName Color="Color.Info" Align="Align.Right"></File>



@code{
    string str = "11";
    int i = 0;

    bool _ck;

    List<string> values = new List<string> { "11", "22", "33", "44" };
    HashSet<string> list = new HashSet<string> { "22" };

    void CH(ChangeEventArgs e)
    {
        win.alert(e.Value.ToString());
    }

    void f1()
    {
        str = "22";
    }
    void f2()
    {
        list.Add("22");
    }
    void Up(InputFileChangeEventArgs e)
    {
        win.alert(e.FileCount.ToString());
    }

}