@page "/"
@inject JSWindow win
@inject BulmaRazorJsInterop jsInterop
@inject IJSRuntime jsruntime

<Hero IsLarge Color="Color.Info" IsBold>
    <HeroBody>
        <Container>
            <Title Size="Size.Size1">
                BulmaRazor
            </Title>
            <Subtitle Size="Size.Size3">
                BulmaRazor（布尔玛·瑞）是基于Bulma框架开发的一套适用于Blazor的组件库。
            </Subtitle>
            <Buttons>
                <Button href="/docs/overview/start" Color="Color.Info" IsOutlined IsInverted
                    IsLarge>
                    开始BulmaRazor之旅
                </Button>

                <Button href="https://bulma.io/" target="_blank" Color="Color.Info" IsOutlined IsInverted
                    IsLarge>
                    bulma.css官网
                </Button>
            </Buttons>
        </Container>
    </HeroBody>
</Hero>

<Footer>
    <Container>
        <Columns>
            <Column>
                <Title Size="Size.Size5">相关资源</Title>
                <ul class="@B.PL4">
                    <li class="@B.MB1"> <a target="_blank" href="https://bulma.io">bulma.io</a></li>
                    <li class="@B.MB1"> <a target="_blank" href="https://wikiki.github.io">bulma-extensions</a></li>
                    <li class="@B.MB1"> <a target="_blank" href="http://www.fontawesome.com.cn">fontawesome</a></li>
                </ul>
            </Column>
            <Column>
                 <Title Size="Size.Size5">友情链接</Title>
                <ul class="@B.PL4">
                    <li class="@B.MB1"> <a target="_blank" href="https://www.blazor.zone">Bootstrap Blazor</a></li>
                    <li class="@B.MB1"> <a target="_blank" href="https://antblazor.com">Ant Design Blazor</a></li>
                    <li class="@B.MB1"> <a target="_blank" href="https://gitee.com/loogn/Loogn.OrmLite">Loogn.OrmLite</a></li>
                    @* <li class="@B.MB1"> <a target="_blank" href="https://gitee.com/loogn/httpquartz">httpquartz</a></li> *@
                    @* <li class="@B.MB1"> <a target="_blank" href="https://gitee.com/loogn/Autowired.Core">Autowired</a></li> *@
                </ul>
            </Column>
            <Column>
                 <Title Size="Size.Size5">加入我们</Title>
                <ul class="@B.PL4">
                    <li> <a target="_blank" href="###">QQ群号：995865650</a></li>
                </ul>
            </Column>
            
        </Columns>
        
    </Container>
</Footer>
@code{

}