@page "/"
@inject JSWindow win


<Hero Size="Size.Medium">
    <HeroBody>
        <Container>
            <Title Size="Size.Size2">
                BulmaRazor 是基于 Bulma 框架、免费开源的 Razor 组件库。
            </Title>
        </Container>
        <br />
        <br />
        <br />
        <Buttons Align="Align.Centered">
            <Button Color="Color.Dark" Size="Size.Large">开始使用</Button>
        </Buttons>
    </HeroBody>
</Hero>

<Input Color="Color.Primary" Value="@i" BindEvent="oninput"/>

<Textarea Color="Color.Dark" Value="@str"  BindEvent="oninput" placeholder="hadsfsd"></Textarea>
<span>@str</span>
<span>@i</span>

<select @bind="@str">
    <option value="">---</option>
    <option value="1">111</option>
    <option value="2">222</option>
    <option value="3">333</option>
</select>
<Select @bind-Value="@str" multiple Color="Color.Primary">
    <option value="">---</option>
    <option value="1">111</option>
    <option value="2">222</option>
    <option >232323sdf</option>
    <option value="3">333</option>
</Select>


<Button @onclick="e=>win.alert(str)">Show</Button>

@code{
    string str = "2";
    int? i = 23;
}