@namespace BulmaRazor.Components
@inherits BulmaComponentBase
@inject BulmaRazorJsInterop JsInterop
@typeparam TItem
@typeparam TValue
<div class="columns p-1 is-gapless">
    <div class="column is-flex">
        <nav class="panel">
            <p class="panel-heading" style="font-size: unset;">
                <label>
                    <input id="a" checked type="checkbox"/>
                    左侧选择
                </label>
            </p>
            <div class="panel-block">
                <div class="control has-icons-left">
                    <input type="text" class="input"/>
                    <span class="icon is-left">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="panel-block">
                <ul style="min-height: @(MinHeight)px; max-height: @(MaxHeight)px; width:100%; overflow: hidden;overflow-y: auto">
                    @foreach (var item in dataView)
                    {
                        <li class="mb-2">
                            <label>
                                <input checked type="checkbox"/>@item.ShowValue
                            </label>
                        </li>
                    }
                </ul>
            </div>
            <!--<div class="panel-block"></div>-->
        </nav>

    </div>
    <div class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
        <div class="buttons is-flex">
            <button class="button is-link">
                <span class="icon">
                    <i class="fa fa-angle-left"></i>
                </span>
            </button>
            <button class="button is-link" disabled>
                <span class="icon">
                    <i class="fa fa-angle-right"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="column is-flex">
        <nav class="panel">
            <p class="panel-heading" style="font-size: unset;">
                <label>
                    <input id="ab" checked type="checkbox"/>
                    左侧选择
                </label>
            </p>
            <div class="panel-block">
                <div class="control has-icons-left">
                    <input type="text" class="input"/>
                    <span class="icon is-left">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="panel-block">
                <ul style="min-height: @(MinHeight)px; max-height: @(MaxHeight)px; width:100%; overflow: hidden;overflow-y: auto">
                    <li class="mb-2">
                        <label for="a1">
                            <input id="a1" checked type="checkbox"/>左侧选择
                        </label>
                    </li>
                    <li class="mb-2">
                        <label for="a2">
                            <input id="a2" checked type="checkbox"/>左侧选择
                        </label>
                    </li>
                    <li class="mb-2">
                        <label>
                            <input id="a3" checked type="checkbox"/>左侧选择
                        </label>
                    </li>
                    <li class="mb-2">
                        <label>
                            <input id="a4" checked type="checkbox"/>
                            左侧选择
                        </label>
                    </li>
                    <li class="mb-2">
                        <label>
                            <input id="a5" checked type="checkbox"/>
                            左侧选择
                        </label>
                    </li>
                    <li class="mb-2">
                        <label>
                            <input id="a6" type="checkbox"/>
                            左侧选择
                        </label>
                    </li>
                    <li class="mb-2">
                        <label>
                            <input id="a7" type="checkbox"/>
                            左侧选择
                        </label>
                    </li>
                </ul>
            </div>
            <!--                <div class="panel-block"></div>-->
        </nav>
    </div>
</div>


@code {

}