@namespace BulmaRazor.Components

@inherits BulmaComponentBase

@if (Size == Size.Size1)
{
    <h1 @attributes="Attributes" class="@classes">@ChildContent</h1>
}
else if (Size == Size.Size2)
{
    <h2 @attributes="Attributes" class="@classes">@ChildContent</h2>
}
else if (Size == Size.Size3)
{
    <h3 @attributes="Attributes" class="@classes">@ChildContent</h3>
}
else if (Size == Size.Size4)
{
    <h4 @attributes="Attributes" class="@classes">@ChildContent</h4>
}
else if (Size == Size.Size5)
{
    <h5 @attributes="Attributes" class="@classes">@ChildContent</h5>
}
else if (Size == Size.Size6)
{
    <h6 @attributes="Attributes" class="@classes">@ChildContent</h6>
}


@code {
    string classes => CssBuilder.Default("title")
        .AddClassFromAttributes(Attributes)
        .AddClass(Size.Value, Size.Value)
        .AddClass("is-spaced", IsSpaced)
        .Build();

    [Parameter]
    public Size Size { get; set; } = Size.Size3;

    [Parameter]
    public bool IsSpaced { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
