@namespace BulmaRazor.Components
@inherits BulmaComponentBase
@typeparam TValue


<input id="@id" @attributes="Attributes" class="@classes"
       type="checkbox" value="@Value" checked="@Checked" @onchange="ChangeHandle"/>
<label for="@id">@ChildContent</label>